# https://help.github.com/articles/ignoring-files/

# Ignore backup files.
*~
# Ignore Vim swap files.
.*.swp
# macOS-specific excludes
.DS_Store
.gradle

deno.lock

*sublime-workspace

/*.html
/#*#
.bin
.build
.mscbackup
info.exe.stackdump

Adv_Prog_UNIX_Env_3rd.txt
Linux_Device_Drivers_3rd.txt
Under_Linux_Kernel_3rd.md
concurrency_py.txt
concurrency_py_asyncio.txt
cpp4th.md
fluent_py_2nd.txt
learn_py_5th.txt