# https://help.github.com/articles/ignoring-files/

# Ignore backup files.
*~
# Ignore Vim swap files.
.*.swp
.*.swp
# Ignore draw.io backup file.
.$*.bkp
.$*.dtmp

# macOS-specific excludes
.DS_Store
.gradle
.vscode

# VIM swap
*.sw*

deno.lock

*sublime-workspace

node_modules
@types
package.json
package-lock.json

*.ipynb
/**/*.html
/**/*.log
/**/_*
/#*#
.ipynb_checkpoints
.virtual_documents
*.out
*.aux
*.log
*.pdf
/auto

.bin
.build
.mscbackup
info.exe.stackdump

.gitignore

concurrency_py.txt
concurrency_py_asyncio.txt
fluent_py_2nd.txt
learn_py_5th.txt
tempCodeRunnerFile.*

# TypeScript
tsconfig.json
jsconfig.json

# LaTeX
*.fls
*.fdb*
*.idx
*.syn*
*.ilg
*.ind
*.toc

*.wav